.btn {
	display:inline-block;
	background-color:#292930;
	color:rgba(255,255,255,0.9);
	border:0;
	font-size: 16px;
	cursor: pointer;
	width:90px;
	height:40px;
	margin-left:10px;
	padding:0;
}

.btn:hover {
  background-color:#808080;
}

.btn:focus {
  outline:0;
}